// Global variables
$myWhite:      #ffffff;
$myIndigo:     #3f51b5;
$myBlue:       #2196f3;
$myBlueLight:  #03a9f4;
$myCyan:       #00bcd4;
$myPurple:     #9c27b0;
$myPurpleLight:#d500f9;
$myRed:        #f44336;
$myPink:       #e91e63;
$myGreen:      #4caf50;
$myLime:       #cddc39;
$myLimeLight:  #c6ff00;
$myAmber:      #ffc107;
$myYellow:     #ffeb3b;
$myOrange:     #ff9800;
$myBrown:      #795548;
$myGrey:       #9e9e9e;
$myGreyDark:   #424242;
$myBlueGrey:   #607d8b;
$myGreyNav:    #435467;
$myWhiteNav:   #B2BFDC;
